/* Global font */
body {
  font-family: "Poppins", sans-serif;
}

/* Alpine.js cloak utility */
[x-cloak] {
  display: none !important;
}

/* Utility: Hide horizontal scrollbar but allow scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Custom heading style */
.custom-heading {
  font-family: 'Anton', sans-serif;
  letter-spacing: 0.7px;
}

/* Iconify color */
.iconify-colored {
  color: #00bfae;
}

/* Banner height */
.banner-img {
  height: 400px;
}
